.container {
  display: flex;
  align-items: center;
  width: 560px;
}

.title {
  flex-basis: 380px;
  max-width: 320px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 64px;
  height: 64px;

  background: #131316;
  border-radius: 50%;
  border: solid 2px #801AB2;
}

.image {
  height: 50px;
}

.count {

}

.priceIcon {
  width: 22px;
  height:  22px;
}
