.main {
    display: flex;
    max-width: 1240px;
    height: calc(100vh - 88px - 40px);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

