.preLoader {
  animation: infinite linear 0.3s rotate;
  width: 75px;
  height: 75px;
  /*box-shadow: rgb(102, 0, 255) 0 0 150px 15px;*/
  border-radius: 50%;
  /*background-color: rgba(10, 0, 28, 0.24);*/
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.a {
  fill: #6602fb;
  fill-opacity: 0.9;
}
.b {
  fill: #57fa06;
  fill-opacity: 0.8;
}
.c {
  fill: #ff020c;
  fill-opacity: 0.5;
}
.d {
  fill: #faec4f;
  fill-opacity: 0.9;
}
.e {
  fill: #02defb;
  fill-opacity: 0.8;
}
.f {
  fill: #fb0266;
  fill-opacity: 0.7;
}
.g {
  fill: #812ffb;

  fill-opacity: 0.8;
}
.h {
  fill: #ffffff;
  fill-opacity: 0.7;
}
