/*.wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  width: 608px;*/
/*  background: rgba(0, 217, 255, 0.05);*/
/*  height: calc(100vh - 248px);*/
/*  overflow-y: scroll;*/
/*  gap: 16px;*/
/*  user-select: none;*/
/*}*/

/*.wrapper::-webkit-scrollbar {*/
/*  width: 8px;*/
/*}*/

/*.wrapper::-webkit-scrollbar-thumb {*/
/*  background: var(--text-inactive-color);*/
/*}*/

/*.wrapper::-webkit-scrollbar-track {*/
/*  background: var(--background-element);*/
/*}*/

/*.wrapper {*/
/*  display: block;*/
/*  max-width: 1240px;*/
/*  margin: 0 auto;*/
/*  padding-top: 130px;*/
/*}*/

/*.container {*/
/*  margin-top: 20px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 60px;*/
/*}*/

.ordersWorkInfo {
  display: flex;
  gap: 36px;

  min-height: 206px;
}

.workContainer {
  max-width: 280px;
  width: 280px;
}

.completeContainer {
  max-width: 280px;
  width: 280px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: none;
  padding: 0;

  overflow-y: scroll;
  max-height: 152px;
}

.flexContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.flexContainer::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.active {

}

.complete {

}


