.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.feeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 225px;
  width: 50%;
  border: dotted 1px #ee00ff;
  height: 320px;
  align-items: center;
  color: #ee00ff;
  font-size: 25px;
}
