.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-right: 60px;
  padding-bottom: 120px;
  width: 320px;

}

/*.link {*/
/*  text-decoration: none;*/
/*  color: #8585AD;*/
/*}*/

/*.link:hover {*/
/*  color: #F2F2F3;*/
/*}*/

