.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 100%;
}

.extraInfoBlock {
  display: flex;
  gap: 20px;
}

.extraInfo {
  text-align: center;
}

.imageLarge {
  max-width: 520px;
  min-height: 240px;
  max-height: 240px;
}

.extraInfoWrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.name {
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
