.container {
  margin: 0 auto;
  width: max-content;
}

.id {
  text-align: center;
}

.title {
  max-width: 640px;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 312px;
  max-height: 312px;
  overflow-y: scroll;
}

.ingredientsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.ingredientsContainer::-webkit-scrollbar-thumb {
  height: 250px;
  background: #8585AD;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
  gap: 8px;
}

.priceIcon  {
  width: 22px;
  height: 22px;
}
